In [8]:
import pandas as pd
import pickle
import re

In [14]:
# Import international HSR data
hsr_df = pd.read_csv('../data/international_train_data.csv')
hsr_df

       Origin Destination  Distance_km Duration
0   Barcelona      Madrid          505    3h12m
1      Madrid     Sevilla          392    2h35m
2      Madrid  Valladolid          163    0h55m
3      Madrid    Valencia          301    1h56m
4     Beijing    Shanghai         1064    4h52m
5    Shanghai    Hangzhou          165     1h6m
6    Shanghai       Wuhan          674     5h0m
7       Paris       Lille          204    1h10m
8       Paris        Lyon          394    1h56m
9       Paris    Bordeaux          499    2h17m
10      Paris   Marseille          661    3h25m
11      Tokyo       Osaka          403    2h27m
12      Tokyo   Hiroshima          679    3h50m
13      Tokyo      Nagano          178    1h28m
14   Florence        Rome          231    1h30m

In [10]:
def duration_to_seconds(duration_str):
    # Regular expression to extract hours and minutes
    pattern = re.compile(r'(?:(\d+)h)?(?:(\d+)m)?')
    match = pattern.match(duration_str)
    
    if not match:
        raise ValueError("Invalid duration format")
    
    hours = int(match.group(1)) if match.group(1) else 0
    minutes = int(match.group(2)) if match.group(2) else 0
    
    # Convert hours and minutes to seconds
    total_seconds = hours * 3600 + minutes * 60
    
    return total_seconds

def duration_to_minutes(duration_str):
    # Regular expression to extract hours and minutes
    pattern = re.compile(r'(?:(\d+)h)?(?:(\d+)m)?')
    match = pattern.match(duration_str)
    
    if not match:
        raise ValueError("Invalid duration format")
    
    hours = int(match.group(1)) if match.group(1) else 0
    minutes = int(match.group(2)) if match.group(2) else 0
    
    # Convert hours to minutes and add minutes
    total_minutes = hours * 60 + minutes
    
    return total_minutes

In [11]:
# Save distance in miles
hsr_df['Distance_miles'] = hsr_df['Distance_km'] * 0.621371

# Save duration in seconds and minutes
hsr_df['Duration_seconds'] = hsr_df['Duration'].apply(lambda x: duration_to_seconds(x))
hsr_df['Duration_minutes'] = hsr_df['Duration'].apply(lambda x: duration_to_minutes(x))
hsr_df

,Origin,Destination,Distance_km,Duration,Distance_miles,Duration_seconds,Duration_minutes
0,Barcelona,Madrid,620,3h12m,385.250020,11520,192
1,Madrid,Sevilla,530,2h35m,329.326630,9300,155
2,Madrid,Valladolid,178,0h55m,110.604038,3300,55
3,Madrid,Valencia,362,1h56m,224.936302,6960,116
4,Beijing,Shanghai,1200,4h52m,745.645200,17520,292
5,Shanghai,Hangzhou,174,1h6m,108.118554,3960,66
6,Shanghai,Wuhan,800,5h0m,497.096800,18000,300
7,Paris,Lille,346,1h10m,214.994366,4200,70
8,Paris,Lyon,483,1h56m,300.122193,6960,116
9,Paris,Bordeaux,292,2h17m,181.440332,8220,137
10,Paris,Marseille,775,3h25m,481.562525,12300,205
11,Tokyo,Osaka,515,2h27m,320.006065,8820,147
12,Tokyo,Hiroshima,800,3h50m,497.096800,13800,230
13,Tokyo,Nagano,350,1h28m,217.479850,5280,88
14,Florence,Rome,230,1h30m,142.915330,5400,90