In [5]:
import requests
import pickle
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from fuzzywuzzy import process


# List of raw URLs to the .pickle files
urls = [
    'https://github.com/mamaOcoder/highspeedrail/raw/dcb2607fc164695b682e18bebaf35923e127094f/data/pickled/distance_df.pickle',
    'https://github.com/mamaOcoder/highspeedrail/raw/dcb2607fc164695b682e18bebaf35923e127094f/data/pickled/flights_df.pickle',
    'https://github.com/mamaOcoder/highspeedrail/raw/dcb2607fc164695b682e18bebaf35923e127094f/data/pickled/flights_df_all_fields.pickle',
    'https://github.com/mamaOcoder/highspeedrail/raw/dcb2607fc164695b682e18bebaf35923e127094f/data/pickled/geos_df.pickle',
    'https://github.com/mamaOcoder/highspeedrail/raw/dcb2607fc164695b682e18bebaf35923e127094f/data/pickled/msa_df.pickle',
    'https://github.com/mamaOcoder/highspeedrail/raw/88761104ba44f569e5fadde614eb5ed6a54900ba/data/pickled/tti_df.pickle'
]

loaded_data = []

for url in urls:
    response = requests.get(url)
    # Check if the request was successful
    if response.status_code == 200:
        # Load the content of the file
        data = pickle.loads(response.content)
        loaded_data.append(data)
    else:
        print(f"Failed to retrieve {url}")

In [10]:
# Convert loaded data to DataFrames
distance_df = pd.DataFrame(loaded_data[0])
flights_df = pd.DataFrame(loaded_data[1])
flights_df_all_fields = pd.DataFrame(loaded_data[2])
geos_df = pd.DataFrame(loaded_data[3])
msa_df = pd.DataFrame(loaded_data[4])
tti_df = pd.DataFrame(loaded_data[5])

In [11]:
# Inspect the column names of tti_df
print(tti_df.columns)

Index(['AreaGroup', 'MetroArea', 'StateCode', 'PopulationGroup', 'Year',
       'Population_thousands', 'PopulationRank', 'AutoCommuters',
       'FreewayDailyVehicle_miles_thousands',
       'ArterialStreetDailyVehicle_miles_thousands', 'ValueOfTime',
       'CommercialValueOfTime', 'AverageStateGasCost',
       'AverageStateDieselCost', 'CongestedTravel', 'CongestedSystem',
       'NumberOfRushHours', 'TotalGallons_thousands', 'TotalGallonsRank',
       'GallonsPerAutoCommuter', 'GallonsPerAutoCommuterRank', 'TotalDelay',
       'TotalDelayRank', 'DelayPerAutoCommuter', 'DelayPerAutoCommuterRank',
       'TravelTimeIndexValue', 'TravelTimeIndexRank',
       'CommuterStressIndexValue', 'CommuterStressIndexRank',
       'FreewayPlanningTimeIndexValue', 'FreewayPlanningTimeIndexRank',
       'AnnualCongestionCostTotalDollars_millions', 'AnnualCongestionCostRank',
       'AnnualCongestionCostPerAutoCommuter',
       'AnnualCongestionCostPerAutoCommuterRank', 'TruckTotalDelay_thousands',
       'TruckTotalDelayRank', 'TruckTotalGallons', 'TruckTotalGallonsRank',
       'TruckAnnualCost_millions', 'TruckAnnualCostRank',
       'AnnualCO2ExcessDueCongestion_tons', 'AnnualCO2ExcessDueCongestionRank',
       'AnnualCO2ExcessDueAllTravel_tons', 'AnnualCO2ExcessDueAllTravelRank',
       'AnnualCO2ExcessTruckCongestion_tons',
       'AnnualCO2ExcessTruckCongestionRank', 'AnnualCO2ExcessTruckTravel_tons',
       'AnnualCO2ExcessTruckTravelRank', 'PopulationRankAll', 'WastedFuelRank',
       'WastedFuelPerCommuterRank', 'AnnualDelayRank', 'DelayPerCommuterRank',
       'TravelTimeIndexRankAll', 'AnnualCongCostRank', 'CostPerCommuterRank',
       'AnnualTruckDelayRank', 'WastedFuelTrucksRank', 'TruckCongCostRank'],
      dtype='object')

In [12]:
# The correct column name is 'MetroArea'
city_column_name = 'MetroArea'

# Function to get best match for city names
def get_best_match(city, choices):
    match, score = process.extractOne(city, choices)
    return match if score > 80 else None  # Adjust the threshold as needed

# Create a set of all city names from msa_df and distance_df
all_city_names = set(msa_df['MainCity']).union(set(distance_df['Origin']), set(distance_df['Destination']))

# Apply fuzzy matching to align TTI city names with the city names in other datasets
tti_df['Matched_City'] = tti_df[city_column_name].apply(lambda x: get_best_match(x, all_city_names))

# Convert TTI DataFrame to a dictionary for quick lookup
tti_data = tti_df.set_index('Matched_City')['TravelTimeIndexValue'].to_dict()

In [13]:
# Define scoring functions
def score_population(pop):
    pop = int(pop.replace(',', '')) if isinstance(pop, str) else pop
    return (pop / max(city_population.values())) * 100

def score_distance(dist):
    if dist <= 150:
        return ((dist / 100) + 1) * 10
    elif 150 < dist <= 300:
        return 25
    elif 300 < dist <= 350:
        return (((500 - dist) / 100) + 0.5) * 10
    elif 350 < dist <= 500:
        return ((500 - dist) / 100) * 10
    else:
        return 0

def score_gdp(gdp):
    return (gdp / max(city_gdp.values())) * 100

def score_congestion(ttis, city):
    if city in ttis:
        return (ttis[city] / max(ttis.values())) * 100
    else:
        return 0

In [14]:
# Merge msa_df with geos_df to get population and GDP for each city
msa_merged_df = pd.merge(msa_df, geos_df, left_on='MainCity', right_on='MainCity')

# Create dictionaries for quick lookup of population and GDP
city_population = msa_merged_df.set_index('MainCity')['Population'].to_dict()
city_gdp = msa_merged_df.set_index('MainCity')['GDP_thousands_dollars'].to_dict()

# Calculate scores for each city pair
city_pairs = distance_df[['Origin', 'Destination', 'Distance_miles']].copy()
city_pairs['Population_Score_Origin'] = city_pairs['Origin'].map(lambda x: score_population(city_population.get(x, 0)))
city_pairs['Population_Score_Destination'] = city_pairs['Destination'].map(lambda x: score_population(city_population.get(x, 0)))
city_pairs['Distance_Score'] = city_pairs['Distance_miles'].map(score_distance)
city_pairs['GDP_Score_Origin'] = city_pairs['Origin'].map(lambda x: score_gdp(city_gdp.get(x, 0)))
city_pairs['GDP_Score_Destination'] = city_pairs['Destination'].map(lambda x: score_gdp(city_gdp.get(x, 0)))
city_pairs['Congestion_Score_Origin'] = city_pairs['Origin'].map(lambda x: score_congestion(tti_data, x))
city_pairs['Congestion_Score_Destination'] = city_pairs['Destination'].map(lambda x: score_congestion(tti_data, x))

# Calculate total and normalized scores
city_pairs['Total_Score'] = city_pairs[['Population_Score_Origin', 'Population_Score_Destination', 'Distance_Score', 'GDP_Score_Origin', 'GDP_Score_Destination', 'Congestion_Score_Origin', 'Congestion_Score_Destination']].sum(axis=1)
city_pairs['Normalized_Score'] = (city_pairs['Total_Score'] / city_pairs['Total_Score'].max()) * 100

In [15]:
# Rank the city pairs by their normalized scores
top_50_city_pairs = city_pairs.nlargest(50, 'Normalized_Score')

# Display the top 50 city pairs
print(top_50_city_pairs[['Origin', 'Destination', 'Distance_miles', 
                         'Population_Score_Origin', 'Population_Score_Destination', 
                         'Distance_Score', 'GDP_Score_Origin', 
                         'GDP_Score_Destination', 'Congestion_Score_Origin', 'Congestion_Score_Destination', 
                         'Total_Score', 'Normalized_Score']])

                   Origin        Destination  Distance_miles  \
25629         Chicago, IL       New York, NY      789.945845
93337        New York, NY        Chicago, IL      789.789260
96326        New York, NY     Washington, DC      228.846590
141429     Washington, DC       New York, NY      224.769153
17859          Boston, MA       New York, NY      216.211632
93132        New York, NY         Boston, MA      215.271497
60369         Houston, TX       New York, NY     1628.373542
94237        New York, NY        Houston, TX     1626.629353
6339          Atlanta, GA       New York, NY      864.373664
92838        New York, NY        Atlanta, GA      873.701064
24727         Chicago, IL        Houston, TX     1073.605435
58577         Houston, TX        Chicago, IL     1082.857649
95920        New York, NY        Seattle, WA     2851.558511
125929        Seattle, WA       New York, NY     2836.339892
10159       Baltimore, MD       New York, NY      191.487901
92934        New York, NY      Baltimore, MD      190.325316
139627     Washington, DC        Chicago, IL      696.210166
26826         Chicago, IL     Washington, DC      696.055445
87369           Miami, FL       New York, NY     1279.949695
94935        New York, NY          Miami, FL     1291.873184
95821        New York, NY  San Francisco, CA     2901.714957
122079  San Francisco, CA       New York, NY     2902.538273
95420        New York, NY        Phoenix, AZ     2406.394656
106629        Phoenix, AZ       New York, NY     2408.510425
24124         Chicago, IL        Detroit, MI      282.603880
35387         Detroit, MI        Chicago, IL      282.780971
4537          Atlanta, GA        Chicago, IL      717.061513
23338         Chicago, IL        Atlanta, GA      716.422122
95822        New York, NY       San Jose, CA     2933.813118
122089       San Jose, CA       New York, NY     2934.277283
37179         Detroit, MI       New York, NY      614.315332
93634        New York, NY        Detroit, MI      614.145698
26420         Chicago, IL        Seattle, WA     2063.653869
124127        Seattle, WA        Chicago, IL     2042.749085
23632         Chicago, IL         Boston, MA      983.803034
16057          Boston, MA        Chicago, IL      983.560078
95429        New York, NY     Providence, RI      181.271940
106719     Providence, RI       New York, NY      180.966847
37159          Denver, CO       New York, NY     1778.465085
93632        New York, NY         Denver, CO     1776.180304
83469     Los Angeles, CA       New York, NY     2789.113832
94831        New York, NY    Los Angeles, CA     2790.748659
95426        New York, NY       Portland, OR     2893.624706
106689       Portland, OR       New York, NY     2894.748145
95422        New York, NY     Pittsburgh, PA      369.326767
106649     Pittsburgh, PA       New York, NY      371.259852
25425         Chicago, IL          Miami, FL     1380.509271
85577           Miami, FL        Chicago, IL     1380.508029
56519        Hartford, CT       New York, NY      117.298068
94138        New York, NY       Hartford, CT      116.462945

        Population_Score_Origin  Population_Score_Destination  Distance_Score  \
25629                 47.505932                    100.000000        0.000000
93337                100.000000                     47.505932        0.000000
96326                100.000000                     32.336109       25.000000
141429                32.336109                    100.000000       25.000000
17859                 25.228824                    100.000000       25.000000
93132                100.000000                     25.228824       25.000000
60369                 38.517577                    100.000000        0.000000
94237                100.000000                     38.517577        0.000000
6339                  32.347833                    100.000000        0.000000
92838                100.000000                     32.347833        0.000000
24727                 47.505932                     38.517577        0.000000
58577                 38.517577                     47.505932        0.000000
95920                100.000000                     20.744617        0.000000
125929                20.744617                    100.000000        0.000000
10159                 14.536259                    100.000000       25.000000
92934                100.000000                     14.536259       25.000000
139627                32.336109                     47.505932        0.000000
26826                 47.505932                     32.336109        0.000000
87369                 31.711560                    100.000000        0.000000
94935                100.000000                     31.711560        0.000000
95821                100.000000                     23.422416        0.000000
122079                23.422416                    100.000000        0.000000
95420                100.000000                     26.002899        0.000000
106629                26.002899                    100.000000        0.000000
24124                 47.505932                     22.270225       25.000000
35387                 22.270225                     47.505932       25.000000
4537                  32.347833                     47.505932        0.000000
23338                 47.505932                     32.347833        0.000000
95822                100.000000                      9.979188        0.000000
122089                 9.979188                    100.000000        0.000000
37179                 22.270225                    100.000000        0.000000
93634                100.000000                     22.270225        0.000000
26420                 47.505932                     20.744617        0.000000
124127                20.744617                     47.505932        0.000000
23632                 47.505932                     25.228824        0.000000
16057                 25.228824                     47.505932        0.000000
95429                100.000000                      8.604891       25.000000
106719                 8.604891                    100.000000       25.000000
37159                 15.412312                    100.000000        0.000000
93632                100.000000                     15.412312        0.000000
83469                 65.642305                    100.000000        0.000000
94831                100.000000                     65.642305        0.000000
95426                100.000000                     12.862950        0.000000
106689                12.862950                    100.000000        0.000000
95422                100.000000                     12.425347       13.067323
106649                12.425347                    100.000000       12.874015
25425                 47.505932                     31.711560        0.000000
85577                 31.711560                     47.505932        0.000000
56519                  5.905879                    100.000000       21.729807
94138                100.000000                      5.905879       21.646295

        GDP_Score_Origin  GDP_Score_Destination  Congestion_Score_Origin  \
25629          38.502974             100.000000                96.296296
93337         100.000000              38.502974                 0.000000
96326         100.000000              30.539171                 0.000000
141429         30.539171             100.000000                92.592593
17859          26.426791             100.000000                90.370370
93132         100.000000              26.426791                 0.000000
60369          29.270617             100.000000                94.074074
94237         100.000000              29.270617                 0.000000
6339           24.310571             100.000000                92.592593
92838         100.000000              24.310571                 0.000000
24727          38.502974              29.270617                96.296296
58577          29.270617              38.502974                94.074074
95920         100.000000              23.936817                 0.000000
125929         23.936817             100.000000                97.777778
10159          11.159324             100.000000                88.148148
92934         100.000000              11.159324                 0.000000
139627         30.539171              38.502974                92.592593
26826          38.502974              30.539171                96.296296
87369          22.362828             100.000000                82.962963
94935         100.000000              22.362828                 0.000000
95821         100.000000              33.704783                 0.000000
122079         33.704783             100.000000                77.777778
95420         100.000000              16.738398                 0.000000
106629         16.738398             100.000000                90.370370
24124          38.502974              14.118452                96.296296
35387          14.118452              38.502974                88.888889
4537           24.310571              38.502974                92.592593
23338          38.502974              24.310571                96.296296
95822         100.000000              18.653458                 0.000000
122089         18.653458             100.000000               100.000000
37179          14.118452             100.000000                88.888889
93634         100.000000              14.118452                 0.000000
26420          38.502974              23.936817                96.296296
124127         23.936817              38.502974                97.777778
23632          38.502974              26.426791                96.296296
16057          26.426791              38.502974                90.370370
95429         100.000000               4.880286                 0.000000
106719          4.880286             100.000000                85.185185
37159          13.350559             100.000000                94.814815
93632         100.000000              13.350559                 0.000000
83469          56.742982             100.000000                 0.000000
94831         100.000000              56.742982                 0.000000
95426         100.000000               9.445199                 0.000000
106689          9.445199             100.000000                98.518519
95422         100.000000               8.389636                 0.000000
106649          8.389636             100.000000                85.925926
25425          38.502974              22.362828                96.296296
85577          22.362828              38.502974                82.962963
56519           5.310966             100.000000                85.185185
94138         100.000000               5.310966                 0.000000

        Congestion_Score_Destination  Total_Score  Normalized_Score
25629                       0.000000   382.305203        100.000000
93337                      96.296296   382.305203        100.000000
96326                      92.592593   380.467872         99.519407
141429                      0.000000   380.467872         99.519407
17859                       0.000000   367.025985         96.003398
93132                      90.370370   367.025985         96.003398
60369                       0.000000   361.862267         94.652718
94237                      94.074074   361.862267         94.652718
6339                        0.000000   349.250996         91.353974
92838                      92.592593   349.250996         91.353974
24727                      94.074074   344.167470         90.024271
58577                      96.296296   344.167470         90.024271
95920                      97.777778   342.459211         89.577439
125929                      0.000000   342.459211         89.577439
10159                       0.000000   338.843731         88.631734
92934                      88.148148   338.843731         88.631734
139627                     96.296296   337.773075         88.351681
26826                      92.592593   337.773075         88.351681
87369                       0.000000   337.037351         88.159237
94935                      82.962963   337.037351         88.159237
95821                      77.777778   334.904977         87.601470
122079                      0.000000   334.904977         87.601470
95420                      90.370370   333.111668         87.132392
106629                      0.000000   333.111668         87.132392
24124                      88.888889   332.582769         86.994047
35387                      96.296296   332.582769         86.994047
4537                       96.296296   331.556199         86.725526
23338                      92.592593   331.556199         86.725526
95822                     100.000000   328.632646         85.960809
122089                      0.000000   328.632646         85.960809
37179                       0.000000   325.277566         85.083217
93634                      88.888889   325.277566         85.083217
26420                      97.777778   324.764414         84.948991
124127                     96.296296   324.764414         84.948991
23632                      90.370370   324.331189         84.835672
16057                      96.296296   324.331189         84.835672
95429                      85.185185   323.670361         84.662819
106719                      0.000000   323.670361         84.662819
37159                       0.000000   323.577686         84.638578
93632                      94.814815   323.577686         84.638578
83469                       0.000000   322.385287         84.326680
94831                       0.000000   322.385287         84.326680
95426                      98.518519   320.826667         83.918991
106689                      0.000000   320.826667         83.918991
95422                      85.925926   319.808232         83.652597
106649                      0.000000   319.614923         83.602033
25425                      82.962963   319.342555         83.530790
85577                      96.296296   319.342555         83.530790
56519                       0.000000   318.131837         83.214101
94138                      85.185185   318.048325         83.192256

In [16]:
# Display the top 50 city pairs
print(top_50_city_pairs[['Origin', 'Destination',  
                         'Total_Score', 'Normalized_Score']])

                   Origin        Destination  Total_Score  Normalized_Score
25629         Chicago, IL       New York, NY   382.305203        100.000000
93337        New York, NY        Chicago, IL   382.305203        100.000000
96326        New York, NY     Washington, DC   380.467872         99.519407
141429     Washington, DC       New York, NY   380.467872         99.519407
17859          Boston, MA       New York, NY   367.025985         96.003398
93132        New York, NY         Boston, MA   367.025985         96.003398
60369         Houston, TX       New York, NY   361.862267         94.652718
94237        New York, NY        Houston, TX   361.862267         94.652718
6339          Atlanta, GA       New York, NY   349.250996         91.353974
92838        New York, NY        Atlanta, GA   349.250996         91.353974
24727         Chicago, IL        Houston, TX   344.167470         90.024271
58577         Houston, TX        Chicago, IL   344.167470         90.024271
95920        New York, NY        Seattle, WA   342.459211         89.577439
125929        Seattle, WA       New York, NY   342.459211         89.577439
10159       Baltimore, MD       New York, NY   338.843731         88.631734
92934        New York, NY      Baltimore, MD   338.843731         88.631734
139627     Washington, DC        Chicago, IL   337.773075         88.351681
26826         Chicago, IL     Washington, DC   337.773075         88.351681
87369           Miami, FL       New York, NY   337.037351         88.159237
94935        New York, NY          Miami, FL   337.037351         88.159237
95821        New York, NY  San Francisco, CA   334.904977         87.601470
122079  San Francisco, CA       New York, NY   334.904977         87.601470
95420        New York, NY        Phoenix, AZ   333.111668         87.132392
106629        Phoenix, AZ       New York, NY   333.111668         87.132392
24124         Chicago, IL        Detroit, MI   332.582769         86.994047
35387         Detroit, MI        Chicago, IL   332.582769         86.994047
4537          Atlanta, GA        Chicago, IL   331.556199         86.725526
23338         Chicago, IL        Atlanta, GA   331.556199         86.725526
95822        New York, NY       San Jose, CA   328.632646         85.960809
122089       San Jose, CA       New York, NY   328.632646         85.960809
37179         Detroit, MI       New York, NY   325.277566         85.083217
93634        New York, NY        Detroit, MI   325.277566         85.083217
26420         Chicago, IL        Seattle, WA   324.764414         84.948991
124127        Seattle, WA        Chicago, IL   324.764414         84.948991
23632         Chicago, IL         Boston, MA   324.331189         84.835672
16057          Boston, MA        Chicago, IL   324.331189         84.835672
95429        New York, NY     Providence, RI   323.670361         84.662819
106719     Providence, RI       New York, NY   323.670361         84.662819
37159          Denver, CO       New York, NY   323.577686         84.638578
93632        New York, NY         Denver, CO   323.577686         84.638578
83469     Los Angeles, CA       New York, NY   322.385287         84.326680
94831        New York, NY    Los Angeles, CA   322.385287         84.326680
95426        New York, NY       Portland, OR   320.826667         83.918991
106689       Portland, OR       New York, NY   320.826667         83.918991
95422        New York, NY     Pittsburgh, PA   319.808232         83.652597
106649     Pittsburgh, PA       New York, NY   319.614923         83.602033
25425         Chicago, IL          Miami, FL   319.342555         83.530790
85577           Miami, FL        Chicago, IL   319.342555         83.530790
56519        Hartford, CT       New York, NY   318.131837         83.214101
94138        New York, NY       Hartford, CT   318.048325         83.192256

In [17]:
for i, df in enumerate(dataframes, start=1):
    print(f"Dataset {i}:")
    print("First few rows:")
    print(df.head(), "\n")  # Display the first few rows
    print("Data Types:")
    print(df.dtypes, "\n")  # Column data types
    print("Descriptive Statistics:")
    print(df.describe(), "\n")  # Basic statistics
    print("Missing Values:")
    print(df.isnull().sum(), "\n")  # Missing values
    print("-" * 50)

NameError: name 'dataframes' is not defined

In [ ]:
for i, df in enumerate(dataframes, start=1):
    print(f"Visualizing Dataset {i}:")
    # Histograms for all numerical features
    df.hist(figsize=(10, 8))
    plt.show()

    # Pairplot for relationships and distributions
    if len(df.columns) <= 10:  # Pairplot can be very slow for large datasets
        sns.pairplot(df)
        plt.show()

    # Boxplots for numerical columns to check for outliers
    num_cols = df.select_dtypes(include=['float64', 'int64']).columns
    for col in num_cols:
        plt.figure(figsize=(8, 4))
        sns.boxplot(x=df[col])
        plt.title(f'Boxplot of {col}')
        plt.show()

    print("-" * 100)

In [ ]:
for i, df in enumerate(dataframes, start=1):
    # Select only numeric columns for correlation
    numeric_df = df.select_dtypes(include=[np.number])
    if not numeric_df.empty:
        plt.figure(figsize=(10, 8))
        sns.heatmap(numeric_df.corr(), annot=True, fmt=".2f", cmap='coolwarm')
        plt.title(f"Correlation Matrix for Dataset {i}")
        plt.show()
    else:
        print(f"Dataset {i} contains no numeric columns suitable for correlation.")