In [4]:
import requests
import pickle
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
# from fuzzywuzzy import process


# # List of raw URLs to the .pickle files
# urls = [
#     'https://github.com/mamaOcoder/highspeedrail/raw/dcb2607fc164695b682e18bebaf35923e127094f/data/pickled/distance_df.pickle',
#     'https://github.com/mamaOcoder/highspeedrail/raw/dcb2607fc164695b682e18bebaf35923e127094f/data/pickled/flights_df.pickle',
#     'https://github.com/mamaOcoder/highspeedrail/raw/dcb2607fc164695b682e18bebaf35923e127094f/data/pickled/flights_df_all_fields.pickle',
#     'https://github.com/mamaOcoder/highspeedrail/raw/dcb2607fc164695b682e18bebaf35923e127094f/data/pickled/geos_df.pickle',
#     'https://github.com/mamaOcoder/highspeedrail/raw/dcb2607fc164695b682e18bebaf35923e127094f/data/pickled/msa_df.pickle',
#     'https://github.com/mamaOcoder/highspeedrail/raw/88761104ba44f569e5fadde614eb5ed6a54900ba/data/pickled/tti_df.pickle'
# ]

# loaded_data = []

# for url in urls:
#     response = requests.get(url)
#     if response.status_code == 200:
#         # Load the content of the file
#         data = pickle.loads(response.content)
#         loaded_data.append(data)
#     else:
#         print(f"Failed to retrieve {url}")

In [49]:
# # Convert loaded data to DataFrames
# distance_df = pd.DataFrame(loaded_data[0])
# flights_df = pd.DataFrame(loaded_data[1])
# flights_df_all_fields = pd.DataFrame(loaded_data[2])
# geos_df = pd.DataFrame(loaded_data[3])
# msa_df = pd.DataFrame(loaded_data[4])
# tti_df = pd.DataFrame(loaded_data[5])

# Load data
city_pair_weights_pickle = '../data/pickled/city_pair_weights_df.pickle'
with open(city_pair_weights_pickle, 'rb') as file:
    city_pair_df = pickle.load(file)

city_pair_df['efficiency_score_norm'] = (city_pair_df['efficiency_score'] - city_pair_df['efficiency_score'].min()) / (city_pair_df['efficiency_score'].max() - city_pair_df['efficiency_score'].min())

msa_weights_pickle = '../data/pickled/msa_weights_df.pickle'
with open(msa_weights_pickle, 'rb') as file:
    msa_df = pickle.load(file)
msa_df['demand_score_norm'] = (msa_df['demand_score'] - msa_df['demand_score'].min()) / (msa_df['demand_score'].max() - msa_df['demand_score'].min())

In [41]:
# TTI data is already merged into msa_df

# # correct column name is 'MetroArea'
# city_column_name = 'MetroArea'

# def get_best_match(city, choices):
#     match, score = process.extractOne(city, choices)
#     return match if score > 80 else None  

# all_city_names = set(msa_df['MainCity']).union(set(distance_df['Origin']), set(distance_df['Destination']))

# tti_df['Matched_City'] = tti_df[city_column_name].apply(lambda x: get_best_match(x, all_city_names))
# tti_data = tti_df.set_index('Matched_City')['TravelTimeIndexValue'].to_dict()

# tti_data

In [50]:
# Merge msa_df into city_pair_df to get additional data for city pairs
city_pairs = city_pair_df.merge(msa_df[['MainCity', 'PopNorm', 'GDPNorm',	'TTINorm', 'demand_score_norm', 'proximity_score', 'cluster_id']],
                                  left_on='City1', right_on='MainCity', suffixes=('', '_City1'))
city_pairs = city_pairs.merge(msa_df[['MainCity', 'PopNorm', 'GDPNorm',	'TTINorm', 'demand_score_norm', 'proximity_score', 'cluster_id']],
                                  left_on='City2', right_on='MainCity', suffixes=('', '_City2'))

In [51]:
city_pairs

,City1,City2,drive_distance,drive_duration,flight_distance,flight_duration_ramp,flight_duration_air,flight_duration_total,num_passengers,total_seats,...,demand_score_norm,proximity_score,cluster_id,MainCity_City2,PopNorm_City2,GDPNorm_City2,TTINorm_City2,demand_score_norm_City2,proximity_score_City2,cluster_id_City2
0,"Abilene, TX","Akron, OH",1327.729086,1159.0,1169.268938,0.0,0.0,0.0,0.0,0.0,...,0.002988,0.430527,3.0,"Akron, OH",0.03294,0.019143,0.173913,0.009708,0.743781,1.0
1,"Abilene, TX","Albany, GA",982.946785,910.0,915.647527,0.0,0.0,0.0,0.0,0.0,...,0.002988,0.430527,3.0,"Albany, GA",0.0045,0.001897,0.065217,0.001124,0.596153,4.0
2,"Abilene, TX","Albany, NY",1812.063858,1578.5,1581.642374,0.0,0.0,0.0,0.0,0.0,...,0.002988,0.430527,3.0,"Albany, NY",0.043551,0.035689,0.173913,0.033797,0.583088,1.0
3,"Abilene, TX","Albany, OR",1912.769767,1746.5,1511.136717,0.0,0.0,0.0,0.0,0.0,...,0.002988,0.430527,3.0,"Albany, OR",0.003779,0.001339,0.043478,0.000000,0.430416,0.0
4,"Abilene, TX","Albuquerque, NM",487.537939,448.5,437.507433,0.0,0.0,0.0,0.0,0.0,...,0.002988,0.430527,3.0,"Albuquerque, NM",0.044457,0.023448,0.260870,0.056945,0.359896,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69373,"York, PA","Yuba City, CA",2692.714957,2360.0,2372.324885,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.791775,1.0,"Yuba City, CA",0.006463,0.002497,0.239130,0.000000,0.386060,0.0
69374,"York, PA","Yuma, AZ",2440.286406,2156.5,2155.951318,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.791775,1.0,"Yuma, AZ",0.007983,0.003087,0.108696,0.002639,0.305170,0.0
69375,"Youngstown, OH","Yuba City, CA",2419.119713,2112.5,2154.189369,0.0,0.0,0.0,0.0,0.0,...,0.000003,0.698477,1.0,"Yuba City, CA",0.006463,0.002497,0.239130,0.000000,0.386060,0.0
69376,"Youngstown, OH","Yuma, AZ",2227.498217,1954.0,1955.046047,0.0,0.0,0.0,0.0,0.0,...,0.000003,0.698477,1.0,"Yuma, AZ",0.007983,0.003087,0.108696,0.002639,0.305170,0.0
69377,"Yuba City, CA","Yuma, AZ",697.600173,640.5,592.318410,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.386060,0.0,"Yuma, AZ",0.007983,0.003087,0.108696,0.002639,0.305170,0.0

In [57]:
city_pairs['gaus_dist_weight'].max()

np.float64(0.9831201702191406)

In [106]:
# Define weights

# MSA unique contributions
population_weight = 0.3
gdp_weight = 0.2 
tti_weight = 0.1 
demand_weight = 0.4 

# Relationship contributions
dist_weight = 0.4 
efficiency_weight = 0.1
cp_demand_weight = 0.5

# Use cluster as a boost
cluster_weight = 0.15


def calculate_score(row):
    city1_contribution = (population_weight * row['PopNorm'] +
                          gdp_weight * row['GDPNorm'] +
                          tti_weight * row['TTINorm'] +
                          demand_weight * row['demand_score_norm'])# +
                          #proximity_weight * row['proximity_score'])
    city2_contribution = (population_weight * row['PopNorm_City2'] +
                          gdp_weight * row['GDPNorm_City2'] +
                          tti_weight * row['TTINorm_City2'] +
                          demand_weight * row['demand_score_norm_City2'])# +
                          #proximity_weight * row['proximity_score_City2'])

    pair_contribution = (dist_weight * row['gaus_dist_weight'] +
                         efficiency_weight * row['efficiency_score_norm'] +
                         cp_demand_weight * row['demand_weight'])

    # Boost the score if the city pair is in the same cluster
    same_cluster_boost = cluster_weight if row['cluster_id'] == row['cluster_id_City2'] else 0

    return ((1/4) * city1_contribution + 
            (1/4) * city2_contribution + 
            (1/2) * pair_contribution + 
            same_cluster_boost)

# Calculate total and normalized scores
city_pairs['Total_Score'] = city_pairs.apply(calculate_score, axis=1)
#city_pairs['Normalized_Score'] = (city_pairs['Total_Score'] / city_pairs['Total_Score'].max())
results = city_pairs.sort_values(by='Total_Score', ascending=False)
results[['City1','City2','drive_distance','PopNorm','PopNorm_City2','GDPNorm','GDPNorm_City2','TTINorm','TTINorm_City2','demand_score_norm','demand_score_norm_City2','proximity_score','proximity_score_City2','gaus_dist_weight','efficiency_score_norm','demand_weight','cluster_id','cluster_id_City2','Total_Score']].head(50)

,City1,City2,drive_distance,PopNorm,PopNorm_City2,GDPNorm,GDPNorm_City2,TTINorm,TTINorm_City2,demand_score_norm,demand_score_norm_City2,proximity_score,proximity_score_City2,gaus_dist_weight,efficiency_score_norm,demand_weight,cluster_id,cluster_id_City2,Total_Score
57619,"Miami, FL","New York, NY",1285.911440,0.315077,1.0,0.222473,1.000000,0.652174,0.608696,0.739325,1.000000,0.363144,0.628190,5.188724e-206,0.745210,1.000000,4.0,1.0,0.652469
14632,"Boston, MA","New York, NY",215.741565,0.250056,1.0,0.263173,1.000000,0.391304,0.608696,0.351059,1.000000,0.512763,0.628190,1.752387e-03,1.000000,0.279927,1.0,1.0,0.587351
6389,"Atlanta, GA","Miami, FL",664.196511,0.321459,0.315077,0.241979,0.222473,0.456522,0.652174,0.912698,0.739325,0.691560,0.363144,1.216358e-28,0.715373,0.491214,4.0,4.0,0.572455
60973,"New York, NY","Washington, DC",226.807871,1.0,0.321341,1.000000,0.304358,0.608696,0.456522,1.000000,0.477669,0.628190,0.709058,8.659782e-03,0.602993,0.200080,1.0,1.0,0.570617
60887,"New York, NY","Portland, ME",314.228868,1.0,0.026146,1.000000,0.018773,0.608696,0.086957,1.000000,0.020633,0.628190,0.421050,7.694434e-01,0.088785,0.038204,1.0,1.0,0.565233
55441,"Los Angeles, CA","San Francisco, CA",382.824809,0.655397,0.231938,0.566786,0.336061,1.000000,0.956522,0.532577,0.393646,0.338033,0.416524,1.548366e-01,0.746769,0.323964,0.0,0.0,0.552525
17566,"Burlington, VT","New York, NY",299.630067,0.00874,1.0,0.006604,1.000000,0.173913,0.608696,0.014532,1.000000,0.430317,0.628190,6.890235e-01,0.092141,0.037963,1.0,1.0,0.548907
52920,"Las Vegas, NV","Los Angeles, CA",270.797521,0.117207,0.655397,0.072923,0.566786,0.391304,1.000000,0.518789,0.532577,0.317168,0.338033,2.707235e-01,0.925459,0.265186,0.0,0.0,0.546564
60900,"New York, NY","Richmond, VA",338.741643,1.0,0.066445,1.000000,0.049212,0.608696,0.130435,1.000000,0.055568,0.628190,0.631269,5.771865e-01,0.099153,0.054166,1.0,1.0,0.540415
16921,"Buffalo, NY","New York, NY",373.182063,0.056459,1.0,0.037712,1.000000,0.195652,0.608696,0.052468,1.000000,0.567788,0.628190,4.789599e-01,0.151671,0.079574,1.0,1.0,0.529744
21352,"Charlottesville, VA","New York, NY",343.060793,0.008595,1.0,0.006470,1.000000,0.347826,0.608696,0.010393,1.000000,0.667967,0.628190,6.088315e-01,0.030151,0.018027,1.0,1.0,0.528701
27253,"Dallas, TX","Houston, TX",239.181232,0.413679,0.38334,0.317461,0.291654,0.413043,0.500000,0.924658,0.525773,0.496738,0.447342,3.407368e-02,0.871963,0.252245,3.0,3.0,0.521576
22240,"Chicago, IL","Louisville, KY",297.136816,0.473492,0.067259,0.384115,0.040565,0.565217,0.304348,0.854878,0.056937,0.717343,0.714490,8.879358e-01,0.113237,0.047627,2.0,2.0,0.519867
48541,"Johnstown, PA","New York, NY",304.562510,0.003736,1.0,0.001058,1.000000,0.086957,0.608696,0.000876,1.000000,0.696238,0.628190,6.324803e-01,0.000000,0.000000,1.0,1.0,0.519308
60968,"New York, NY","Virginia Beach, VA",365.561880,1.0,0.088946,1.000000,0.052533,0.608696,0.217391,1.000000,0.051403,0.628190,0.531726,4.557591e-01,0.091752,0.050754,1.0,1.0,0.518518
22276,"Chicago, IL","New York, NY",789.867553,0.473492,1.0,0.384115,1.000000,0.565217,0.608696,0.854878,1.000000,0.717343,0.628190,1.313395e-64,0.434709,0.396202,2.0,1.0,0.515339
53847,"Lewiston, ME","New York, NY",345.028675,0.002867,1.0,0.001290,1.000000,0.043478,0.608696,0.000004,1.000000,0.400837,0.628190,5.932938e-01,0.000000,0.000000,1.0,1.0,0.510243
60883,"New York, NY","Pittsburgh, PA",370.293309,1.0,0.121639,1.000000,0.082533,0.608696,0.260870,1.000000,0.105402,0.628190,0.717451,2.799801e-01,0.170619,0.098507,1.0,1.0,0.509683
27301,"Dallas, TX","Little Rock, AR",319.005036,0.413679,0.036317,0.317461,0.020420,0.413043,0.239130,0.924658,0.028400,0.496738,0.546893,8.741829e-01,0.136744,0.057796,3.0,3.0,0.508377
14651,"Boston, MA","Philadelphia, PA",307.670297,0.250056,0.318316,0.263173,0.238552,0.391304,0.413043,0.351059,0.264766,0.512763,0.702065,8.481544e-01,0.248648,0.094623,1.0,1.0,0.505124
43369,"Harrisonburg, VA","New York, NY",350.360349,0.004095,1.0,0.003246,1.000000,0.043478,0.608696,0.000000,1.000000,0.693146,0.628190,5.624580e-01,0.000000,0.000000,1.0,1.0,0.504265
55442,"Los Angeles, CA","San Jose, CA",340.446064,0.655397,0.097104,0.566786,0.185324,1.000000,0.673913,0.532577,0.099002,0.338033,0.409367,5.676338e-01,0.257981,0.108803,0.0,0.0,0.502676
52977,"Las Vegas, NV","Phoenix, AZ",301.059531,0.117207,0.25782,0.072923,0.166145,0.391304,0.391304,0.518789,0.536287,0.317168,0.318888,5.994001e-01,0.494320,0.162008,0.0,0.0,0.500251
55371,"Los Angeles, CA","Modesto, CA",313.065351,0.655397,0.02538,0.566786,0.011787,1.000000,0.347826,0.532577,0.000003,0.338033,0.420480,9.078801e-01,0.000000,0.000000,0.0,0.0,0.498517
22359,"Chicago, IL","St. Louis, MO",296.904423,0.473492,0.140892,0.384115,0.095704,0.565217,0.217391,0.854878,0.163395,0.717343,0.623219,6.084856e-01,0.223228,0.086704,2.0,2.0,0.495997
6412,"Atlanta, GA","New York, NY",869.037364,0.321459,1.0,0.241979,1.000000,0.456522,0.608696,0.912698,1.000000,0.691560,0.628190,3.692011e-73,0.398006,0.370826,4.0,1.0,0.491715
2292,"Alexandria, LA","Dallas, TX",304.013529,0.004637,0.413679,0.001965,0.317461,0.152174,0.413043,0.003366,0.924658,0.504074,0.496738,9.112331e-01,0.022937,0.012614,3.0,3.0,0.490825
22126,"Chicago, IL","Detroit, MI",282.692426,0.473492,0.220382,0.384115,0.139906,0.565217,0.347826,0.854878,0.304198,0.717343,0.689263,4.079782e-01,0.293056,0.110299,2.0,2.0,0.490798
55386,"Los Angeles, CA","New York, NY",2789.931246,0.655397,1.0,0.566786,1.000000,1.000000,0.608696,0.532577,1.000000,0.338033,0.628190,0.000000e+00,0.119637,0.349306,0.0,1.0,0.489278
27328,"Dallas, TX","Monroe, LA",284.929672,0.413679,0.008428,0.317461,0.002979,0.413043,0.152174,0.924658,0.003037,0.496738,0.522505,8.977083e-01,0.027728,0.013335,3.0,3.0,0.488842
22101,"Chicago, IL","Cincinnati, OH",295.575311,0.473492,0.113859,0.384115,0.084688,0.565217,0.239130,0.854878,0.098912,0.717343,0.729693,6.411288e-01,0.161028,0.063352,2.0,2.0,0.485094
60975,"New York, NY","Watertown, NY",316.670545,1.0,0.002919,1.000000,0.002029,0.608696,0.043478,1.000000,0.000860,0.628190,0.498281,4.461644e-01,0.000000,0.000000,1.0,1.0,0.480944
60985,"New York, NY","Winchester, VA",282.865167,1.0,0.00459,1.000000,0.002762,0.608696,0.086957,1.000000,0.000000,0.628190,0.717293,4.381570e-01,0.000000,0.000000,1.0,1.0,0.480505
60904,"New York, NY","Rochester, NY",332.757219,1.0,0.051134,1.000000,0.033274,0.608696,0.152174,1.000000,0.031068,0.628190,0.551285,2.897446e-01,0.108287,0.049895,1.0,1.0,0.478464
60881,"New York, NY","Philadelphia, PA",95.577423,1.0,0.318316,1.000000,0.238552,0.608696,0.413043,1.000000,0.264766,0.628190,0.702065,1.685886e-15,0.154709,0.021388,1.0,1.0,0.475904
31572,"Durham, NC","New York, NY",488.231389,0.028335,1.0,0.028118,1.000000,0.239130,0.608696,0.149740,1.000000,0.703814,0.628190,3.114357e-06,0.251811,0.161804,1.0,1.0,0.467743
22288,"Chicago, IL","Owensboro, KY",325.128648,0.473492,0.002802,0.384115,0.001633,0.565217,0.086957,0.854878,0.000634,0.717343,0.676118,7.918041e-01,0.002895,0.004753,2.0,2.0,0.466559
22125,"Chicago, IL","Des Moines, IA",333.514049,0.473492,0.034934,0.384115,0.029685,0.565217,0.043478,0.854878,0.036284,0.717343,0.559281,7.032771e-01,0.077552,0.034136,2.0,2.0,0.466223
22112,"Chicago, IL","Columbus, OH",356.189741,0.473492,0.109167,0.384115,0.076810,0.565217,0.304348,0.854878,0.101766,0.717343,0.737967,5.234128e-01,0.164134,0.074299,2.0,2.0,0.465613
27395,"Dallas, TX","San Antonio, TX",273.561068,0.413679,0.136108,0.317461,0.074003,0.413043,0.369565,0.924658,0.111182,0.496738,0.406717,3.376247e-01,0.514038,0.151342,3.0,3.0,0.465019
27342,"Dallas, TX","New York, NY",1547.509873,0.413679,1.0,0.317461,1.000000,0.413043,0.608696,0.924658,1.000000,0.496738,0.628190,0.000000e+00,0.157164,0.266669,3.0,1.0,0.464434
27322,"Dallas, TX","Midland, TX",330.261172,0.413679,0.006393,0.317461,0.023982,0.413043,0.152174,0.924658,0.019916,0.496738,0.426575,6.687431e-01,0.135996,0.061983,3.0,3.0,0.463209
6229,"Atlanta, GA","Charleston, SC",306.838903,0.321459,0.040708,0.241979,0.024870,0.456522,0.478261,0.912698,0.066711,0.691560,0.554774,6.119333e-01,0.201240,0.062540,4.0,4.0,0.459899
29589,"Denver, CO","Los Angeles, CA",1017.089257,0.151598,0.655397,0.132216,0.566786,0.521739,1.000000,0.717504,0.532577,0.437650,0.338033,2.913305e-110,0.154252,0.174238,0.0,0.0,0.459798
55406,"Los Angeles, CA","Phoenix, AZ",373.057168,0.655397,0.25782,0.566786,0.166145,1.000000,0.391304,0.532577,0.536287,0.338033,0.318888,1.987137e-02,0.377654,0.156308,0.0,0.0,0.458741
22132,"Chicago, IL","Eau Claire, WI",317.654486,0.473492,0.00601,0.384115,0.003530,0.565217,0.021739,0.854878,0.000727,0.717343,0.507367,7.641877e-01,0.000000,0.000000,2.0,2.0,0.458417
22258,"Chicago, IL","Minneapolis, MN",408.731941,0.473492,0.18796,0.384115,0.148500,0.565217,0.434783,0.854878,0.321868,0.717343,0.484770,1.726630e-01,0.322115,0.154544,2.0,2.0,0.458189
59377,"Morgantown, WV","New York, NY",377.512087,0.00431,1.0,0.002982,1.000000,0.086957,0.608696,0.001803,1.000000,0.676064,0.628190,3.243580e-01,0.000000,0.000000,1.0,1.0,0.457916
6396,"Atlanta, GA","Mobile, AL",328.033246,0.321459,0.018189,0.241979,0.011179,0.456522,0.173913,0.912698,0.008809,0.691560,0.608072,7.650474e-01,0.055032,0.022882,4.0,4.0,0.457525
45323,"Houston, TX","Laredo, TX",314.983523,0.38334,0.01086,0.291654,0.006387,0.500000,0.369565,0.525773,0.004833,0.447342,0.342781,9.174004e-01,0.020164,0.012135,3.0,3.0,0.456789

In [109]:
results[['City1','City2','Total_Score']].head(25)

                     City1               City2  Total_Score
57619            Miami, FL        New York, NY     0.652469
14632           Boston, MA        New York, NY     0.587351
6389           Atlanta, GA           Miami, FL     0.572455
60973         New York, NY      Washington, DC     0.570617
60887         New York, NY        Portland, ME     0.565233
55441      Los Angeles, CA   San Francisco, CA     0.552525
17566       Burlington, VT        New York, NY     0.548907
52920        Las Vegas, NV     Los Angeles, CA     0.546564
60900         New York, NY        Richmond, VA     0.540415
16921          Buffalo, NY        New York, NY     0.529744
21352  Charlottesville, VA        New York, NY     0.528701
27253           Dallas, TX         Houston, TX     0.521576
22240          Chicago, IL      Louisville, KY     0.519867
48541        Johnstown, PA        New York, NY     0.519308
60968         New York, NY  Virginia Beach, VA     0.518518
22276          Chicago, IL        New York, NY     0.515339
53847         Lewiston, ME        New York, NY     0.510243
60883         New York, NY      Pittsburgh, PA     0.509683
27301           Dallas, TX     Little Rock, AR     0.508377
14651           Boston, MA    Philadelphia, PA     0.505124
43369     Harrisonburg, VA        New York, NY     0.504265
55442      Los Angeles, CA        San Jose, CA     0.502676
52977        Las Vegas, NV         Phoenix, AZ     0.500251
55371      Los Angeles, CA         Modesto, CA     0.498517
22359          Chicago, IL       St. Louis, MO     0.495997

In [117]:
# Define weights

# MSA unique contributions
region_population_weight = 0.2
region_gdp_weight = 0.2 
region_tti_weight = 0.1 
region_demand_weight = 0.5 

# Relationship contributions
region_dist_weight = 0.2 
region_efficiency_weight = 0.2
region_cp_demand_weight = 0.6


def calculate_regional_score(row):
    city1_contribution = (region_population_weight * row['PopNorm'] +
                          region_gdp_weight * row['GDPNorm'] +
                          region_tti_weight * row['TTINorm'] +
                          region_demand_weight * row['demand_score_norm'])# +
                          #proximity_weight * row['proximity_score'])
    city2_contribution = (region_population_weight * row['PopNorm_City2'] +
                          region_gdp_weight * row['GDPNorm_City2'] +
                          region_tti_weight * row['TTINorm_City2'] +
                          region_demand_weight * row['demand_score_norm_City2'])# +
                          #proximity_weight * row['proximity_score_City2'])

    pair_contribution = (region_dist_weight * row['gaus_dist_weight'] +
                         region_efficiency_weight * row['efficiency_score_norm'] +
                         region_cp_demand_weight * row['demand_weight'])


    return ((1/3) * city1_contribution + 
            (1/3) * city2_contribution + 
            (1/3) * pair_contribution)

region0 = city_pairs.loc[(city_pairs['cluster_id']==0) & (city_pairs['cluster_id_City2']==0)].copy()
region1 = city_pairs.loc[(city_pairs['cluster_id']==1) & (city_pairs['cluster_id_City2']==1)].copy()
region2 = city_pairs.loc[(city_pairs['cluster_id']==2) & (city_pairs['cluster_id_City2']==2)].copy()
region3 = city_pairs.loc[(city_pairs['cluster_id']==3) & (city_pairs['cluster_id_City2']==3)].copy()
region4 = city_pairs.loc[(city_pairs['cluster_id']==4) & (city_pairs['cluster_id_City2']==4)].copy()



region0['Regional_Score'] = region0.apply(calculate_regional_score, axis=1)
results0 = region0.sort_values(by='Regional_Score', ascending=False)
results0[['City1','City2','Regional_Score','drive_distance','PopNorm','PopNorm_City2','GDPNorm','GDPNorm_City2','TTINorm','TTINorm_City2','demand_score_norm','demand_score_norm_City2','proximity_score','proximity_score_City2','gaus_dist_weight','efficiency_score_norm','demand_weight','cluster_id','cluster_id_City2','Total_Score']].head(5)
results0[['City1','City2','Regional_Score']].head(10)

                 City1              City2  Regional_Score
55441  Los Angeles, CA  San Francisco, CA        0.463833
52920    Las Vegas, NV    Los Angeles, CA        0.448542
29589       Denver, CO    Los Angeles, CA        0.404602
55406  Los Angeles, CA        Phoenix, AZ        0.392027
55450  Los Angeles, CA        Seattle, WA        0.353088
29646       Denver, CO        Phoenix, AZ        0.348865
52977    Las Vegas, NV        Phoenix, AZ        0.348189
55442  Los Angeles, CA       San Jose, CA        0.338169
29681       Denver, CO  San Francisco, CA        0.331796
29575       Denver, CO      Las Vegas, NV        0.322907

In [118]:
region1['Regional_Score'] = region1.apply(calculate_regional_score, axis=1)
results1 = region1.sort_values(by='Regional_Score', ascending=False)
results1[['City1','City2','Regional_Score','drive_distance','PopNorm','PopNorm_City2','GDPNorm','GDPNorm_City2','TTINorm','TTINorm_City2','demand_score_norm','demand_score_norm_City2','proximity_score','proximity_score_City2','gaus_dist_weight','efficiency_score_norm','demand_weight','cluster_id','cluster_id_City2','Total_Score']].head(5)
results1[['City1','City2','Regional_Score']].head(10)

               City1               City2  Regional_Score
14632     Boston, MA        New York, NY        0.548827
60973   New York, NY      Washington, DC        0.537625
60881   New York, NY    Philadelphia, PA        0.429902
60883   New York, NY      Pittsburgh, PA        0.409905
31572     Durham, NC        New York, NY        0.406129
16921    Buffalo, NY        New York, NY        0.399791
60900   New York, NY        Richmond, VA        0.397532
8521   Baltimore, MD        New York, NY        0.394755
60887   New York, NY        Portland, ME        0.394478
60968   New York, NY  Virginia Beach, VA        0.392187

In [119]:
region2['Regional_Score'] = region2.apply(calculate_regional_score, axis=1)
results2 = region2.sort_values(by='Regional_Score', ascending=False)
results2[['City1','City2','Regional_Score','drive_distance','PopNorm','PopNorm_City2','GDPNorm','GDPNorm_City2','TTINorm','TTINorm_City2','demand_score_norm','demand_score_norm_City2','proximity_score','proximity_score_City2','gaus_dist_weight','efficiency_score_norm','demand_weight','cluster_id','cluster_id_City2','Total_Score']].head(5)
results2[['City1','City2','Regional_Score']].head(10)

             City1             City2  Regional_Score
22126  Chicago, IL       Detroit, MI        0.373602
22258  Chicago, IL   Minneapolis, MN        0.372956
22359  Chicago, IL     St. Louis, MO        0.341534
22101  Chicago, IL    Cincinnati, OH        0.322334
22240  Chicago, IL    Louisville, KY        0.321587
22112  Chicago, IL      Columbus, OH        0.318695
22125  Chicago, IL    Des Moines, IA        0.289181
22207  Chicago, IL   Kansas City, MO        0.288605
22191  Chicago, IL  Indianapolis, IN        0.285801
22257  Chicago, IL     Milwaukee, WI        0.277168

In [120]:
region3['Regional_Score'] = region3.apply(calculate_regional_score, axis=1)
results3 = region3.sort_values(by='Regional_Score', ascending=False)
results3[['City1','City2','Regional_Score','drive_distance','PopNorm','PopNorm_City2','GDPNorm','GDPNorm_City2','TTINorm','TTINorm_City2','demand_score_norm','demand_score_norm_City2','proximity_score','proximity_score_City2','gaus_dist_weight','efficiency_score_norm','demand_weight','cluster_id','cluster_id_City2','Total_Score']].head(5)
results3[['City1','City2','Regional_Score']].head(10)

                City1             City2  Regional_Score
27253      Dallas, TX       Houston, TX        0.476767
7662       Austin, TX        Dallas, TX        0.358635
27395      Dallas, TX   San Antonio, TX        0.348523
27301      Dallas, TX   Little Rock, AR        0.312061
27341      Dallas, TX   New Orleans, LA        0.301269
27322      Dallas, TX       Midland, TX        0.293083
2292   Alexandria, LA        Dallas, TX        0.287495
27328      Dallas, TX        Monroe, LA        0.287322
27211      Dallas, TX  Fayetteville, AR        0.284462
27307      Dallas, TX       Lubbock, TX        0.281801

In [121]:
region4['Regional_Score'] = region4.apply(calculate_regional_score, axis=1)
results4 = region4.sort_values(by='Regional_Score', ascending=False)
results4[['City1','City2','Regional_Score','drive_distance','PopNorm','PopNorm_City2','GDPNorm','GDPNorm_City2','TTINorm','TTINorm_City2','demand_score_norm','demand_score_norm_City2','proximity_score','proximity_score_City2','gaus_dist_weight','efficiency_score_norm','demand_weight','cluster_id','cluster_id_City2','Total_Score']].head(5)
results4[['City1','City2','Regional_Score']].head(10)

               City1             City2  Regional_Score
6389     Atlanta, GA         Miami, FL        0.531627
6422     Atlanta, GA       Orlando, FL        0.406607
21019  Charlotte, NC         Miami, FL        0.375754
6231     Atlanta, GA     Charlotte, NC        0.367011
57629      Miami, FL       Orlando, FL        0.355756
6502     Atlanta, GA         Tampa, FL        0.344621
57709      Miami, FL         Tampa, FL        0.326185
6409     Atlanta, GA     Nashville, TN        0.312254
6333     Atlanta, GA  Jacksonville, FL        0.305021
6229     Atlanta, GA    Charleston, SC        0.303048

In [13]:
# # Define scoring functions
# def score_population(pop):
#     pop = int(pop.replace(',', '')) if isinstance(pop, str) else pop
#     return (pop / max(city_population.values())) * 100

# def score_distance(dist):
#     if dist <= 150:
#         return ((dist / 100) + 1) * 10
#     elif 150 < dist <= 300:
#         return 25
#     elif 300 < dist <= 350:
#         return (((500 - dist) / 100) + 0.5) * 10
#     elif 350 < dist <= 500:
#         return ((500 - dist) / 100) * 10
#     else:
#         return 0

# def score_gdp(gdp):
#     return (gdp / max(city_gdp.values())) * 100

# def score_congestion(ttis, city):
#     if city in ttis:
#         return (ttis[city] / max(ttis.values())) * 100
#     else:
#         return 0

In [14]:
# msa_merged_df = pd.merge(msa_df, geos_df, left_on='MainCity', right_on='MainCity')

# city_population = msa_merged_df.set_index('MainCity')['Population'].to_dict()
# city_gdp = msa_merged_df.set_index('MainCity')['GDP_thousands_dollars'].to_dict()

# # Calculate scores 
# city_pairs = distance_df[['Origin', 'Destination', 'Distance_miles']].copy()
# city_pairs['Population_Score_Origin'] = city_pairs['Origin'].map(lambda x: score_population(city_population.get(x, 0)))
# city_pairs['Population_Score_Destination'] = city_pairs['Destination'].map(lambda x: score_population(city_population.get(x, 0)))
# city_pairs['Distance_Score'] = city_pairs['Distance_miles'].map(score_distance)
# city_pairs['GDP_Score_Origin'] = city_pairs['Origin'].map(lambda x: score_gdp(city_gdp.get(x, 0)))
# city_pairs['GDP_Score_Destination'] = city_pairs['Destination'].map(lambda x: score_gdp(city_gdp.get(x, 0)))
# city_pairs['Congestion_Score_Origin'] = city_pairs['Origin'].map(lambda x: score_congestion(tti_data, x))
# city_pairs['Congestion_Score_Destination'] = city_pairs['Destination'].map(lambda x: score_congestion(tti_data, x))

# # Calculate total and normalized scores
# city_pairs['Total_Score'] = city_pairs[['Population_Score_Origin', 'Population_Score_Destination', 'Distance_Score', 'GDP_Score_Origin', 'GDP_Score_Destination', 'Congestion_Score_Origin', 'Congestion_Score_Destination']].sum(axis=1)
# city_pairs['Normalized_Score'] = (city_pairs['Total_Score'] / city_pairs['Total_Score'].max()) * 100

In [15]:
# Rank city pairs by their normalized scores
top_50_city_pairs = city_pairs.nlargest(50, 'Normalized_Score')

# Display top 50 city pairs
print(top_50_city_pairs[['Origin', 'Destination', 'Distance_miles', 
                         'Population_Score_Origin', 'Population_Score_Destination', 
                         'Distance_Score', 'GDP_Score_Origin', 
                         'GDP_Score_Destination', 'Congestion_Score_Origin', 'Congestion_Score_Destination', 
                         'Total_Score', 'Normalized_Score']])

                   Origin        Destination  Distance_miles  \
25629         Chicago, IL       New York, NY      789.945845
93337        New York, NY        Chicago, IL      789.789260
96326        New York, NY     Washington, DC      228.846590
141429     Washington, DC       New York, NY      224.769153
17859          Boston, MA       New York, NY      216.211632
93132        New York, NY         Boston, MA      215.271497
60369         Houston, TX       New York, NY     1628.373542
94237        New York, NY        Houston, TX     1626.629353
6339          Atlanta, GA       New York, NY      864.373664
92838        New York, NY        Atlanta, GA      873.701064
24727         Chicago, IL        Houston, TX     1073.605435
58577         Houston, TX        Chicago, IL     1082.857649
95920        New York, NY        Seattle, WA     2851.558511
125929        Seattle, WA       New York, NY     2836.339892
10159       Baltimore, MD       New York, NY      191.487901
92934        New York, NY      Baltimore, MD      190.325316
139627     Washington, DC        Chicago, IL      696.210166
26826         Chicago, IL     Washington, DC      696.055445
87369           Miami, FL       New York, NY     1279.949695
94935        New York, NY          Miami, FL     1291.873184
95821        New York, NY  San Francisco, CA     2901.714957
122079  San Francisco, CA       New York, NY     2902.538273
95420        New York, NY        Phoenix, AZ     2406.394656
106629        Phoenix, AZ       New York, NY     2408.510425
24124         Chicago, IL        Detroit, MI      282.603880
35387         Detroit, MI        Chicago, IL      282.780971
4537          Atlanta, GA        Chicago, IL      717.061513
23338         Chicago, IL        Atlanta, GA      716.422122
95822        New York, NY       San Jose, CA     2933.813118
122089       San Jose, CA       New York, NY     2934.277283
37179         Detroit, MI       New York, NY      614.315332
93634        New York, NY        Detroit, MI      614.145698
26420         Chicago, IL        Seattle, WA     2063.653869
124127        Seattle, WA        Chicago, IL     2042.749085
23632         Chicago, IL         Boston, MA      983.803034
16057          Boston, MA        Chicago, IL      983.560078
95429        New York, NY     Providence, RI      181.271940
106719     Providence, RI       New York, NY      180.966847
37159          Denver, CO       New York, NY     1778.465085
93632        New York, NY         Denver, CO     1776.180304
83469     Los Angeles, CA       New York, NY     2789.113832
94831        New York, NY    Los Angeles, CA     2790.748659
95426        New York, NY       Portland, OR     2893.624706
106689       Portland, OR       New York, NY     2894.748145
95422        New York, NY     Pittsburgh, PA      369.326767
106649     Pittsburgh, PA       New York, NY      371.259852
25425         Chicago, IL          Miami, FL     1380.509271
85577           Miami, FL        Chicago, IL     1380.508029
56519        Hartford, CT       New York, NY      117.298068
94138        New York, NY       Hartford, CT      116.462945

        Population_Score_Origin  Population_Score_Destination  Distance_Score  \
25629                 47.505932                    100.000000        0.000000
93337                100.000000                     47.505932        0.000000
96326                100.000000                     32.336109       25.000000
141429                32.336109                    100.000000       25.000000
17859                 25.228824                    100.000000       25.000000
93132                100.000000                     25.228824       25.000000
60369                 38.517577                    100.000000        0.000000
94237                100.000000                     38.517577        0.000000
6339                  32.347833                    100.000000        0.000000
92838                100.000000                     32.347833        0.000000
24727                 47.505932                     38.517577        0.000000
58577                 38.517577                     47.505932        0.000000
95920                100.000000                     20.744617        0.000000
125929                20.744617                    100.000000        0.000000
10159                 14.536259                    100.000000       25.000000
92934                100.000000                     14.536259       25.000000
139627                32.336109                     47.505932        0.000000
26826                 47.505932                     32.336109        0.000000
87369                 31.711560                    100.000000        0.000000
94935                100.000000                     31.711560        0.000000
95821                100.000000                     23.422416        0.000000
122079                23.422416                    100.000000        0.000000
95420                100.000000                     26.002899        0.000000
106629                26.002899                    100.000000        0.000000
24124                 47.505932                     22.270225       25.000000
35387                 22.270225                     47.505932       25.000000
4537                  32.347833                     47.505932        0.000000
23338                 47.505932                     32.347833        0.000000
95822                100.000000                      9.979188        0.000000
122089                 9.979188                    100.000000        0.000000
37179                 22.270225                    100.000000        0.000000
93634                100.000000                     22.270225        0.000000
26420                 47.505932                     20.744617        0.000000
124127                20.744617                     47.505932        0.000000
23632                 47.505932                     25.228824        0.000000
16057                 25.228824                     47.505932        0.000000
95429                100.000000                      8.604891       25.000000
106719                 8.604891                    100.000000       25.000000
37159                 15.412312                    100.000000        0.000000
93632                100.000000                     15.412312        0.000000
83469                 65.642305                    100.000000        0.000000
94831                100.000000                     65.642305        0.000000
95426                100.000000                     12.862950        0.000000
106689                12.862950                    100.000000        0.000000
95422                100.000000                     12.425347       13.067323
106649                12.425347                    100.000000       12.874015
25425                 47.505932                     31.711560        0.000000
85577                 31.711560                     47.505932        0.000000
56519                  5.905879                    100.000000       21.729807
94138                100.000000                      5.905879       21.646295

        GDP_Score_Origin  GDP_Score_Destination  Congestion_Score_Origin  \
25629          38.502974             100.000000                96.296296
93337         100.000000              38.502974                 0.000000
96326         100.000000              30.539171                 0.000000
141429         30.539171             100.000000                92.592593
17859          26.426791             100.000000                90.370370
93132         100.000000              26.426791                 0.000000
60369          29.270617             100.000000                94.074074
94237         100.000000              29.270617                 0.000000
6339           24.310571             100.000000                92.592593
92838         100.000000              24.310571                 0.000000
24727          38.502974              29.270617                96.296296
58577          29.270617              38.502974                94.074074
95920         100.000000              23.936817                 0.000000
125929         23.936817             100.000000                97.777778
10159          11.159324             100.000000                88.148148
92934         100.000000              11.159324                 0.000000
139627         30.539171              38.502974                92.592593
26826          38.502974              30.539171                96.296296
87369          22.362828             100.000000                82.962963
94935         100.000000              22.362828                 0.000000
95821         100.000000              33.704783                 0.000000
122079         33.704783             100.000000                77.777778
95420         100.000000              16.738398                 0.000000
106629         16.738398             100.000000                90.370370
24124          38.502974              14.118452                96.296296
35387          14.118452              38.502974                88.888889
4537           24.310571              38.502974                92.592593
23338          38.502974              24.310571                96.296296
95822         100.000000              18.653458                 0.000000
122089         18.653458             100.000000               100.000000
37179          14.118452             100.000000                88.888889
93634         100.000000              14.118452                 0.000000
26420          38.502974              23.936817                96.296296
124127         23.936817              38.502974                97.777778
23632          38.502974              26.426791                96.296296
16057          26.426791              38.502974                90.370370
95429         100.000000               4.880286                 0.000000
106719          4.880286             100.000000                85.185185
37159          13.350559             100.000000                94.814815
93632         100.000000              13.350559                 0.000000
83469          56.742982             100.000000                 0.000000
94831         100.000000              56.742982                 0.000000
95426         100.000000               9.445199                 0.000000
106689          9.445199             100.000000                98.518519
95422         100.000000               8.389636                 0.000000
106649          8.389636             100.000000                85.925926
25425          38.502974              22.362828                96.296296
85577          22.362828              38.502974                82.962963
56519           5.310966             100.000000                85.185185
94138         100.000000               5.310966                 0.000000

        Congestion_Score_Destination  Total_Score  Normalized_Score
25629                       0.000000   382.305203        100.000000
93337                      96.296296   382.305203        100.000000
96326                      92.592593   380.467872         99.519407
141429                      0.000000   380.467872         99.519407
17859                       0.000000   367.025985         96.003398
93132                      90.370370   367.025985         96.003398
60369                       0.000000   361.862267         94.652718
94237                      94.074074   361.862267         94.652718
6339                        0.000000   349.250996         91.353974
92838                      92.592593   349.250996         91.353974
24727                      94.074074   344.167470         90.024271
58577                      96.296296   344.167470         90.024271
95920                      97.777778   342.459211         89.577439
125929                      0.000000   342.459211         89.577439
10159                       0.000000   338.843731         88.631734
92934                      88.148148   338.843731         88.631734
139627                     96.296296   337.773075         88.351681
26826                      92.592593   337.773075         88.351681
87369                       0.000000   337.037351         88.159237
94935                      82.962963   337.037351         88.159237
95821                      77.777778   334.904977         87.601470
122079                      0.000000   334.904977         87.601470
95420                      90.370370   333.111668         87.132392
106629                      0.000000   333.111668         87.132392
24124                      88.888889   332.582769         86.994047
35387                      96.296296   332.582769         86.994047
4537                       96.296296   331.556199         86.725526
23338                      92.592593   331.556199         86.725526
95822                     100.000000   328.632646         85.960809
122089                      0.000000   328.632646         85.960809
37179                       0.000000   325.277566         85.083217
93634                      88.888889   325.277566         85.083217
26420                      97.777778   324.764414         84.948991
124127                     96.296296   324.764414         84.948991
23632                      90.370370   324.331189         84.835672
16057                      96.296296   324.331189         84.835672
95429                      85.185185   323.670361         84.662819
106719                      0.000000   323.670361         84.662819
37159                       0.000000   323.577686         84.638578
93632                      94.814815   323.577686         84.638578
83469                       0.000000   322.385287         84.326680
94831                       0.000000   322.385287         84.326680
95426                      98.518519   320.826667         83.918991
106689                      0.000000   320.826667         83.918991
95422                      85.925926   319.808232         83.652597
106649                      0.000000   319.614923         83.602033
25425                      82.962963   319.342555         83.530790
85577                      96.296296   319.342555         83.530790
56519                       0.000000   318.131837         83.214101
94138                      85.185185   318.048325         83.192256

In [16]:
# Display the top 50 city pairs
print(top_50_city_pairs[['Origin', 'Destination',  
                         'Total_Score', 'Normalized_Score']])

                   Origin        Destination  Total_Score  Normalized_Score
25629         Chicago, IL       New York, NY   382.305203        100.000000
93337        New York, NY        Chicago, IL   382.305203        100.000000
96326        New York, NY     Washington, DC   380.467872         99.519407
141429     Washington, DC       New York, NY   380.467872         99.519407
17859          Boston, MA       New York, NY   367.025985         96.003398
93132        New York, NY         Boston, MA   367.025985         96.003398
60369         Houston, TX       New York, NY   361.862267         94.652718
94237        New York, NY        Houston, TX   361.862267         94.652718
6339          Atlanta, GA       New York, NY   349.250996         91.353974
92838        New York, NY        Atlanta, GA   349.250996         91.353974
24727         Chicago, IL        Houston, TX   344.167470         90.024271
58577         Houston, TX        Chicago, IL   344.167470         90.024271
95920        New York, NY        Seattle, WA   342.459211         89.577439
125929        Seattle, WA       New York, NY   342.459211         89.577439
10159       Baltimore, MD       New York, NY   338.843731         88.631734
92934        New York, NY      Baltimore, MD   338.843731         88.631734
139627     Washington, DC        Chicago, IL   337.773075         88.351681
26826         Chicago, IL     Washington, DC   337.773075         88.351681
87369           Miami, FL       New York, NY   337.037351         88.159237
94935        New York, NY          Miami, FL   337.037351         88.159237
95821        New York, NY  San Francisco, CA   334.904977         87.601470
122079  San Francisco, CA       New York, NY   334.904977         87.601470
95420        New York, NY        Phoenix, AZ   333.111668         87.132392
106629        Phoenix, AZ       New York, NY   333.111668         87.132392
24124         Chicago, IL        Detroit, MI   332.582769         86.994047
35387         Detroit, MI        Chicago, IL   332.582769         86.994047
4537          Atlanta, GA        Chicago, IL   331.556199         86.725526
23338         Chicago, IL        Atlanta, GA   331.556199         86.725526
95822        New York, NY       San Jose, CA   328.632646         85.960809
122089       San Jose, CA       New York, NY   328.632646         85.960809
37179         Detroit, MI       New York, NY   325.277566         85.083217
93634        New York, NY        Detroit, MI   325.277566         85.083217
26420         Chicago, IL        Seattle, WA   324.764414         84.948991
124127        Seattle, WA        Chicago, IL   324.764414         84.948991
23632         Chicago, IL         Boston, MA   324.331189         84.835672
16057          Boston, MA        Chicago, IL   324.331189         84.835672
95429        New York, NY     Providence, RI   323.670361         84.662819
106719     Providence, RI       New York, NY   323.670361         84.662819
37159          Denver, CO       New York, NY   323.577686         84.638578
93632        New York, NY         Denver, CO   323.577686         84.638578
83469     Los Angeles, CA       New York, NY   322.385287         84.326680
94831        New York, NY    Los Angeles, CA   322.385287         84.326680
95426        New York, NY       Portland, OR   320.826667         83.918991
106689       Portland, OR       New York, NY   320.826667         83.918991
95422        New York, NY     Pittsburgh, PA   319.808232         83.652597
106649     Pittsburgh, PA       New York, NY   319.614923         83.602033
25425         Chicago, IL          Miami, FL   319.342555         83.530790
85577           Miami, FL        Chicago, IL   319.342555         83.530790
56519        Hartford, CT       New York, NY   318.131837         83.214101
94138        New York, NY       Hartford, CT   318.048325         83.192256

In [17]:
for i, df in enumerate(dataframes, start=1):
    print(f"Dataset {i}:")
    print("First few rows:")
    print(df.head(), "\n")  
    print("Data Types:")
    print(df.dtypes, "\n") 
    print("Descriptive Statistics:")
    print(df.describe(), "\n")  
    print("Missing Values:")
    print(df.isnull().sum(), "\n") 
    print("-" * 50)

NameError: name 'dataframes' is not defined

In [ ]:
for i, df in enumerate(dataframes, start=1):
    print(f"Visualizing Dataset {i}:")
    # Histograms for all numerical features
    df.hist(figsize=(10, 8))
    plt.show()

    # Pairplot 
    if len(df.columns) <= 10:  
        sns.pairplot(df)
        plt.show()

    # Boxplots for outliers
    num_cols = df.select_dtypes(include=['float64', 'int64']).columns
    for col in num_cols:
        plt.figure(figsize=(8, 4))
        sns.boxplot(x=df[col])
        plt.title(f'Boxplot of {col}')
        plt.show()

    print("-" * 100)

In [ ]:
for i, df in enumerate(dataframes, start=1):
    numeric_df = df.select_dtypes(include=[np.number])
    if not numeric_df.empty:
        plt.figure(figsize=(10, 8))
        sns.heatmap(numeric_df.corr(), annot=True, fmt=".2f", cmap='coolwarm')
        plt.title(f"Correlation Matrix for Dataset {i}")
        plt.show()
    else:
        print(f"Dataset {i} contains no numeric columns suitable for correlation.")