In [1]:
import pandas as pd
import pickle

In [3]:
dist_pickle = '../data/pickled/distance_df.pickle'
with open(dist_pickle, 'rb') as file:
    dist_df = pickle.load(file)

In [7]:
dist_df.head()

,Origin,Destination,Distance_meters,Duration_seconds,Distance_miles
0,"Abilene, TX","Akron, OH",2137508.0,69643.0,1328.185483
1,"Abilene, TX","Albany, GA",1582948.0,54532.0,983.597982
2,"Abilene, TX","Albany, OR",3077199.0,104836.0,1912.082220
3,"Abilene, TX","Albany, NY",2917051.0,94703.0,1812.570897
4,"Abilene, TX","Albuquerque, NM",783883.0,26964.0,487.082164